[submodule "addons/peripheral.joystick/addon/resources/database/gamecontrollerdb"]
	path = addons/peripheral.joystick/addon/resources/database/gamecontrollerdb
	url = https://github.com/gabomdq/SDL_GameControllerDB.git
[submodule "lib/hiberlite"]
	path = lib/hiberlite
	url = https://github.com/paulftw/hiberlite.git
